.card__back {
  background: url(/card-back.jpg) no-repeat;
  background-size: cover;
  height: 20px;
  /* width: 70px; */
}

.card__front {
  /* background-image: url(/card-sprite.jpg); */
  /* height: 150px; */
  /* width: 70px; */
}
